@media (max-width: 1160px){
    .forcustomer{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .customerdiv{
        margin-bottom: 20px;
    }
    .forcontact{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .map{
        margin-bottom: 30px;
    }
    .forfooter{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}
@media (max-width: 1060px){
    .forhome{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}
@media (max-width: 910px){
    .main-img-p{
        display: none;
    }
}
@media (max-width: 780px){
    #togglebutton{
        display: block;
    }
    .navigation{
        display: none;
    }
    .logo{
        margin-top: 40px;
    }
    .header-wraper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .navigation ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .navigation.active{
        display: block;
    }
    .forfooter{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer-a{
        font-size: 15px;
    }
    .footer-p{
        font-size: 15px;
    }
}
@media (max-width: 760px){
    .forplaces{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}
@media (max-width: 486px) {
    .forplacesheader h2{
        font-size: 20px;
    }
    .typediv p{
        font-size: 13px;
    }
}
@media (max-width: 710px){
    .main-img-h1{
        font-size: 30px;
    }
}
@media (max-width: 425px){
    .main-img-h1{
        font-size: 18px;
    }
    .footerul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}